/gems
/coverage/
/html/
/pkg/
/spec
/test/
/tmp/
/lib/
/json/
/doc/

## Environment normalization:
/.bundle/

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
/Gemfile.lock
/.ruby-version

# Ignore IDE files
/.idea
*.rubocop-http*

runner.conf

# (Mac)
*.DS_Store
