/Gemfile.lock
/.ruby-version
.rspec_status
/.bundle/
/pkg

.yardoc/
_yardoc/
doc/
rdoc

/spec/files/osms/out/*
/spec/files/measures/*
/spec/files/ua/*
/json/*out.json

/lib/measures/test_results/*
/lib/measures/*/tests/output
/lib/measures/test_results

runner.conf

*.DS_Store
