/Gemfile.lock
/.ruby-version
.rspec_status
/.bundle/
/pkg

.yardoc/
_yardoc/
doc/
rdoc

/spec/files/osms/out/*.osm
/spec/files/ua/*.md
/json/*out.json

/lib/measures/test_results/*
/lib/measures/*/tests/output
/lib/measures/test_results

runner.conf

*.DS_Store
