name: Pull Request CI

on:
  pull_request:
    branches:
      - develop

jobs:
  test_300x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:3.0.0
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:3.0.0
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
  test_321x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:3.2.1
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:3.2.1
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
  test_330x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:3.3.0
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:3.3.0
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
  test_340x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:3.4.0
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:3.4.0
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
  test_351x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:3.5.1
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:3.5.1
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
  test_361x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:3.6.1
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:3.6.1
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
  test_370x:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        echo $(pwd)
        echo $(ls)
        docker pull nrel/openstudio:dev-3.7.0-alpha
        docker run --name test --rm -d -t -v $(pwd):/work -w /work nrel/openstudio:dev-3.7.0-alpha
        docker exec -t test pwd
        docker exec -t test ls
        docker exec -t test bundle update
        docker exec -t test bundle exec rake
        docker kill test
